*~
image/
output/
bin/
json/
tmp.txt
#Eclipse
*.pydevproject
.metadata
.gradle
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.classpath
.project
 
# CDT-specific
.cproject

# PDT-specific
.buildpath

# TeXlipse plugin
.texlipse
